Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# there are two types of comments code in python they are
# single line comments
''' 
   multi 
   line 
   comments
'''

Q2. What are variables in Python? How do you declare and assign values to variables?

In [1]:
''' variable is like a container where the values can be stored 
    in simple words it is like a basket which can contain a objects
    we can assign multiple values like strings,numeric values,list boolean,complex numbers into a variables 
'''
a=10
a

10

Q3. How do you convert one data type to another in Python?

In [6]:
'''
we can convert a data type to another datatypes using typecasting.
it is a function which is used to convert datatypes as per our requirements
'''
print(type(a))# type of the a is int and now we are going to change it as float
print(type(float(a)))# now the datatype of a is float this is known as typecasting

<class 'int'>
<class 'float'>

Q4. How do you write and execute a Python script from the command line?

In [ ]:
"""

we have save the python script as .py extention
and in the command prompt 
type : python "[file path]" press enter

"""

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

complex number is nothing but equation involved with the real and imaginary variables

In [4]:
# complex(real,imaginary)
x=complex(3,5)
x

(3+5j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [4]:
age=25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [5]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [7]:
name="Harshavardhan"
print("My Name is :",name)

My Name is : Harshavardhan

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
a="Hello,World!"
a[6:-1]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [12]:
is_student=1
bool(is_student)

True