## Question 1
Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [3]:
a="hello world"
type(a)

str

In [5]:
b=[1,2,3,44]
type(b)

list

In [6]:
c=5.1
type(c)

float

In [7]:
d=(12,3,2,3)
type(d)

tuple

## question 2

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

In [9]:
var1=''
type(var1)

str

In [4]:
var2="[ds,ml,python]"
type(var2)

str

In [5]:
var3=["DS","ML","Python"]
type(var3)

list

In [7]:
var4=1.
type(var4)

float

## question 3

What will be the data type of the above given variable.

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

#### / represents the division which will always returns the value quotient in float value

In [3]:
a=10
b=5
a/b

2.0

#### % represents the remainder of the given function

In [6]:
a%b

0

#### // represents floor division where it will round of the value of the quotient

In [7]:
a//b

2

#### ** represents power 5 power 10 =100000

In [12]:
a**b

100000

## question 4
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
a=[1,2,3,True,5,6+7j,7,8.0,9,'har']
for i in a:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
True
<class 'bool'>
5
<class 'int'>
(6+7j)
<class 'complex'>
7
<class 'int'>
8.0
<class 'float'>
9
<class 'int'>
har
<class 'str'>

## question 5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [25]:
a=int(input('enter the number a:'))
b=int(input('enter the number b:'))
count=0
while a%b==0:
    a=a//b
    count+=1
if count==0:
    print(f"a is not divisible by b")
else:
    print(f"a is divisible by b {count} times")

enter the number a: 4
enter the number b: 2

a is divisible by b 2 times

## question 6

##### 
Create a list containing 25 int type data. 
Using for loop and if-else condition 
print if the element is divisible by 3 or not.

In [29]:
c=0
a=[1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3==0:
        c+=1
        print("it is divisible")
    else:
        print("it is not divisible")
print(c)

it is not divisible
it is not divisible
it is divisible
it is not divisible
it is not divisible
it is divisible
it is not divisible
it is not divisible
it is divisible
it is divisible
it is not divisible
it is divisible
it is not divisible
it is not divisible
it is divisible
it is not divisible
it is not divisible
it is divisible
it is not divisible
it is not divisible
it is divisible
it is not divisible
it is not divisible
it is divisible
it is not divisible
9

### question 7
What do you understand about mutable and immutable data types?
Give examples for both showing this property.

## this is an example for mutable which means it can be modified,delete,add by each element inside a list or other mutable datatypes

In [45]:
a=[1,2,3,4]
b=(12,2,3,23,44)
a[1]

2

In [43]:
b[1]

2

In [46]:
a[1]=5
a[1]

5

## tuple is immutable which means it cannot be modified ,add,delete the particular elements inside a tuple

In [47]:
b[1]=5

TypeError: 'tuple' object does not support item assignment